# swap files
*.swp

# Compiled python
*.pyc
__pycache__

# PyCharm directories
.idea

# Latex stuff
*.log
*.aux

# Psi files
*.clean
timer.dat
*/input.dat
output.dat

# Misc 
# (Hessian projects)
2/aewiens/X*
2/aewiens/hessian.txt
1/aewiens/modes.xyz
